.button {
  background-color: var(--secondary);
  border-radius: var(--borderRadius);
  border: 1px solid var(--secondary);
  color: var(--white);
  cursor: pointer;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  padding: 12px 50px;
  transition: var(--animDuration) var(--animEase);

  &:hover {
    background-color: var(--white);
    color: var(--secondary);
  }

  &.secondary {
    background-color: var(--white);
    color: var(--secondary);
    border: 1px solid var(--secondary);

    &:hover {
      background-color: var(--grey);
    }
  }

  &.disabled {
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--secondary);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.active {
    background-color: var(--secondary);
    color: var(--white);

    &:hover {
      background-color: var(--secondary);
    }
  }
}